@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gruppo&display=swap");

:root {
  --clr-light-grey: rgb(96, 91, 90);
  --clr-dark-grey: rgb(30, 27, 28);
  --clr-yellow: rgb(255, 210, 5);
  --clr-pink: rgb(235, 45, 125);
  --clr-white: rgb(255, 255, 255);
  --fw-400: 400;
  --container-width: 600px;
}

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  background: linear-gradient(
    135deg,
    var(--clr-light-grey),
    var(--clr-dark-grey)
  );
  font-family: "Do Hyeon", sans-serif;
}

h1 {
  font-size: 7rem;
  line-height: 80%;
  text-align: left;
}

.tic {
  color: var(--clr-yellow);
  text-shadow: 0 0 1.3rem var(--clr-yellow);
}

.tac {
  color: var(--clr-white);
  text-shadow: 0 0 1.3rem var(--clr-white);
}

.toe {
  color: var(--clr-pink);
  text-shadow: 0 0 1.3rem var(--clr-pink);
}

.container-main {
  max-width: calc(var(--container-width) * 2);
  margin: 8rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.container-game {
  max-width: var(--container-width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.grid-cell {
  width: 120px;
  height: 120px;
  color: var(--clr-white);
  font-size: 5rem;
  display: grid;
  place-items: center;
}

.grid-cell:hover {
  background: radial-gradient(
    circle,
    rgba(30, 27, 28, 1) 0%,
    rgba(30, 27, 28, 0.5) 35%,
    rgba(30, 27, 28, 0) 70%
  );
}

.column1,
.column2 {
  border-right: 5px solid white;
}

.row1,
.row2 {
  border-bottom: 5px solid white;
}

.color-x {
  color: var(--clr-yellow);
  text-shadow: 0 0 1.3rem var(--clr-yellow);
}

.color-o {
  color: var(--clr-pink);
  text-shadow: 0 0 1.3rem var(--clr-pink);
}

.container-menu {
  max-width: calc(var(--container-width) * 4 / 5);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
}

header {
  grid-column: 1 / 1;
}

.scoreboard {
  grid-column: 2 / 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.scoreboard p {
  font-family: "Gruppo", sans-serif;
}

.scoreboard-x,
.scoreboard-o {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  line-height: 3rem;
  border-bottom: 2px solid;
  gap: 1rem;
}

form {
  display: grid;
  gap: 1rem;
}

.inactive {
  opacity: 20%;
  filter: blur(0.05em);
  pointer-events: none;
}
.winDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  line-height: 0.9;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.winner-round {
  font-size: 2rem;
  color: var(--clr-white);
}

input {
  background-color: rgba(30, 27, 28, 65%);
  border: none;
  font-family: "Gruppo", sans-serif;
  font-size: 1.2rem;
  color: var(--clr-white);
  width: 125px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.scoreboard-x {
  color: var(--clr-yellow);
}

.scoreboard-o {
  color: var(--clr-pink);
}

.score-x,
.score-o {
  color: var(--clr-white);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#restartBtn,
#startBtn,
#continueBtn {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  font-family: "Gruppo", sans-serif;
  font-size: 1.2rem;
  color: var(--clr-white);
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

#continueBtn {
  padding: 0.5rem 1rem;
}

#restartBtn:hover,
#startBtn:hover,
#continueBtn:hover {
  background-color: rgba(30, 27, 28, 65%);
  text-shadow: 0 0 1.3rem var(--clr-white);
  transition: 150ms;
}

#restartBtn:active,
#startBtn:active,
#continueBtn:active {
  border: 1px solid rgba(30, 27, 28, 65%);
  background-color: rgba(30, 27, 28, 65%);
  transition: 75ms;
}
